.theme-plugin-light-one-mode {
  --theme-page: rgb(250, 250, 250);
  --theme-page-text: rgb(33, 33, 33);
  --theme-page-text-light: rgb(167, 167, 167);
  --theme-page-instructions-text: rgb(97, 97, 97);
  --theme-page-instructions-background: rgba(200, 200, 200, .4);
  --theme-modal: #fff;
  --theme-intro-gradient-1: rgba(255, 255, 255, 0);
  --theme-intro-gradient-2: rgba(255, 255, 255, .95);
  --theme-header-text: rgb(33, 33, 33);
  --theme-caption-text: #000;
  --theme-caption-read: rgb(117, 117, 117);
  --theme-announcements-gradient-1: rgba(255, 255, 255, 0);
  --theme-announcements-gradient-2: rgba(255, 255, 255, .95);
  --theme-line-separator: rgb(224, 224, 224);
  --theme-wallet-overview-border: rgb(214, 214, 214);
  --theme-table-row-hover: rgb(249, 249, 249);
  --theme-transaction-sent: rgb(247, 247, 247);
  --theme-transaction-sent-arrow: rgb(96, 96, 96);
  --theme-transaction-sent-arrow: #e51317;
  --theme-transaction-received: rgb(243, 243, 243);
  --theme-transaction-received-arrow: #2db761;
  --theme-send-circle-second-signature: rgb(114, 114, 114);
  --theme-send-circle-second-signature-text: rgb(49, 49, 49);
  --theme-send-circle-register-delegate: rgb(122, 122, 122);
  --theme-send-circle-register-delegate-text: #fff;
  --theme-send-circle-vote: rgb(150, 150, 150);
  --theme-send-circle-vote-text: rgb(90, 90, 90);
  --theme-transaction-detail-gradient1: rgb(67, 67, 67);
  --theme-transaction-detail-gradient2: rgb(104, 104, 104);
  --theme-transaction-detail-arrow: rgb(84, 84, 84);
  --theme-wallet-new-selected: rgb(33, 33, 33);
  --theme-wallet-new-unselected: rgb(158, 158, 158);
  --theme-wallet-sign-verify-message-text: rgb(206, 206, 206);
  --theme-wallet-grid-shadow: 0 5px 30px rgba(124, 138, 192, .22);
  --theme-feature: white;
  --theme-feature-item-text: rgb(203, 203, 203);
  --theme-feature-item-hover: rgb(247, 247, 247);
  --theme-feature-item-alternative: rgb(242, 242, 242);
  --theme-feature-item-alternative-text: rgb(152, 152, 152);
  --theme-feature-item-hover-text: rgb(193, 193, 193);
  --theme-feature-item-selected: rgb(247, 247, 247);
  --theme-feature-item-selected-text: rgb(136, 136, 136);
  --theme-feature-item-indicator: rgb(111, 111, 111);
  --theme-secondary-feature: rgb(249, 249, 249);
  --theme-button-special-choice: rgb(156, 156, 156);
  --theme-heading-background: rgb(59, 59, 59);
  --theme-heading-text: rgb(203, 203, 203);
  --theme-chart-background: rgb(250, 250, 250);
  --theme-chart-price: rgb(67, 67, 67);
  --theme-button: rgb(237, 237, 237);
  --theme-button-active: rgb(187, 187, 187);
  --theme-button-text: rgb(125, 125, 125);
  --theme-button-light: rgb(240, 240, 240);
  --theme-button-light-text: rgb(104, 104, 104);
  --theme-button-inner-box: rgb(215, 215, 215);
  --theme-action-button: rgb(240, 240, 240);
  --theme-action-button-text: rgb(148, 148, 148);
  --theme-action-button-text-hover: rgb(150, 150, 150);
  --theme-option-button: rgb(71, 71, 71);
  --theme-option-button-hover: rgb(127, 127, 127);
  --theme-option-button-text: rgb(151, 151, 151);
  --theme-switch-button: rgb(237, 237, 237);
  --theme-option-heading-button: rgb(71, 71, 71);
  --theme-option-heading-button-hover: rgb(127, 127, 127);
  --theme-option-heading-button-text: rgb(151, 151, 151);
  --theme-input-toggle-choice: rgb(244, 244, 244);
  --theme-input-toggle-choice-text: rgb(108, 108, 108);
  --theme-input-field-border: rgb(194, 194, 194);
  --theme-modal-footer-button: rgb(209, 209, 209);
  --theme-modal-footer-button-text: rgb(162, 162, 162);
  --theme-explanation-background: rgb(235, 235, 235);
  --theme-explanation-text: rgb(145, 145, 145);
  --theme-settings: white;
  --theme-settings-hover: rgb(241, 241, 241);
  --theme-settings-sub: rgb(54, 54, 54);
  --theme-settings-button: rgb(54, 54, 54);
  --theme-settings-heading: rgb(54, 54, 54);
  --theme-settings-border: rgb(242, 242, 242);
  --theme-settings-text: rgb(147, 147, 147);
  --theme-settings-text-hover: rgb(147, 147, 147);
  --theme-settings-switch: rgb(243, 243, 243);
  --theme-settings-control-title: rgb(54, 54, 54);
  --theme-voting-banner-background: rgb(235, 235, 235);
  --theme-voting-banner-text: rgb(145, 145, 145);
  --theme-voting-banner-button: rgb(218, 218, 218);
  --theme-voting-banner-button-hover: rgb(197, 197, 197);
  --theme-voting-banner-button-text: rgb(165, 165, 165);
  --theme-voting-banner-button-text-hover: rgb(128, 128, 128);
  --theme-fee-gradient-start: var(--theme-modal);
  --theme-fee-gradient-end: rgba(101, 101, 101, .2);
  --theme-fee-handler-outside: var(--theme-button-text);
  --theme-fee-handler-inside: var(--theme-modal);
  --theme-fee-range-track: var(--theme-page-text-light);
  --theme-fee-range-track-active: var(--theme-button-text);
  --theme-fee-range-shadow: rgba(87, 87, 87, .34)
}

